@page
@model School.Pages.Staffs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>УДАЛИТЬ</h1>

<h3>Вы уверены, что хотите удалить эту информацию?</h3>
<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.FIO)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.FIO)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Old)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Old)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Pol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Pol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Pasport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Pasport)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Telephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Telephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.DolznostID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.DolznostID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Staff.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться назад</a>
    </form>
</div>
