@page
@model School.Pages.Dolznosts.IndexModel

@{
    ViewData["Title"] = "Информация о должностях";
}

<h1>Должности</h1>

<p>
    <a asp-page="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dolznost[0].NaimenovanieDolznosti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dolznost[0].Oklad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dolznost[0].Obyazannosti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dolznost[0].Trebovaniya)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dolznost[0].ID_Dolznost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Dolznost) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NaimenovanieDolznosti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oklad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obyazannosti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trebovaniya)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Dolznost)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
