@page
@model School.Pages.Raspisanies.IndexModel

@{
    ViewData["Title"] = "Основное расписание";
}

<h1>Расписание</h1>

<p>
    <a asp-page="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Raspisanie[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raspisanie[0].Dennedely)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raspisanie[0].Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raspisanie[0].Predmets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raspisanie[0].Vremanachala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raspisanie[0].Vremaokonch)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Raspisanie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dennedely)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PredmetsID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vremanachala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vremaokonch)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
