@page
@model School.Pages.Vids.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>УДАЛИТЬ</h1>

<h3>Вы уверены, что хотите удалить эту информацию?</h3>
<div>
    <h4>Вид класса</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vid.ID_type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vid.ID_type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vid.Naimenovanie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vid.Naimenovanie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vid.Opisanie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vid.Opisanie)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Vid.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться назад</a>
    </form>
</div>
