@page
@model School.Pages.Predmetss.IndexModel

@{
    ViewData["Title"] = "Все предметы";
}

<h1>Предметы</h1>

<p>
    <a asp-page="Create">Добавить новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Predmets[0].Naimenovanie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Predmets[0].Opisanie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Predmets[0].Staff)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Predmets) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naimenovanie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opisanie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
