@page
@model School.Pages.Classs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>УДАЛИТЬ</h1>

<h3>Вы уверены, что хотите удалить эту информацию?</h3>
<div>
    <h4>Класс</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.ID_class)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.ID_class)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.StaffID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.StaffID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.VidID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.VidID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Kolstu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Kolstu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Bukva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Bukva)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Godobuch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Godobuch)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Godsozd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Godsozd)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Class.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться назад</a>
    </form>
</div>
